body{
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  background-color: #f5f5f5;
}


#hero {
  width: 100%;
  height: 75vh;
  background-color: #00ccff;
  position: relative;
}

#hero h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;

}
#Hero h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#about{
  width: 100%;
}

#part2 h2, #part3 h2{
  font-size: 15px;

  letter-spacing: 1px;

  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}


#about #part1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} 

#about #part1 .img{
  width: 400px;
  height: 50vw;
  background: red;
  margin-bottom: 15px;
  border-radius: 10px;
} 

#about #part1 .text{
  width: 400px;
  height: 35vw;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
} 

#about #part1 .text p, #part2 p, #part3 p{
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

.section-title{

  font-size: 32px;

  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}


#vedit{
    width: 100%;
 
}

.service-box {

  background-color: #fff;

  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}

.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-box .ico-circle i {
  line-height: 0;
  font-size: 40px;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: .4rem 0;
}

.service-box .s-description {
  color: #4e4e4e;
}

.contacts-section{
  width: 95%;
  margin: auto;
  background: #fff;
  border-radius: 1rem;
  padding: 2.5rem 1.3rem;
  box-shadow: 10px 10px 10px 10px rbga(0,0,0,0.7);
  
}


.c-icon{
  display: inline;
  width: 15%;
  height: 100%;
}
.c-info{
  display: inline;
  width: 80%;
  padding: 5px;
}




 .c-icon i {

  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

legend {
 text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.c-info small {
  padding: 0 0 10px 5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.location, .email, .phone{
  margin-bottom: 25px;
}